<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Document</title>
</head>
<body>

    <div class="cover">
        <div class="in">
            <form action="/check" method="POST">
                <h1>Dev Password</h1>
                <input type="text" name="pwin" id="pwin">
                <button type="submit">Enter</button>
            </form>
        </div>
    </div>

</body>
</html>
<script src="pop.js">

</script>