<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (iM) { %>
        <link rel="stylesheet" href="mobile.css">
    <% } else { %>
        <link rel="stylesheet" href="style.css">
    <% } %>
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <a href="/">
            <div class="logo">
                <img class="logoI" src="src/648erbahn.png" alt="" srcset="">
            </div>
        </a>
    </div>
    <div class="banner">
        <div>
            <h1>648</h1>
        </div>  
    </div>
    <div class="torso">
        <div class="seg">
            <h1>Collections</h1>
            <div class="coll">
                <div style="width: 20px;"></div>
                <a href="">
                    <h3>648er</h3>
                    <div id="coll2"></div>
                </a>
                <a href="">
                    <h3>Trapgear</h3>
                    <div id="coll3"></div>
                </a>
                <a href="">
                    <h3>Coming Soon...</h3>
                    <div id="coll1"></div>
                </a>
                <div style="width: 20px;"></div>
            </div>
        </div>
        <div class="seg">
        </div>
    </div>

</body>
</html>
<script src="pop.js">

</script>