<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (iM) { %>
        <link rel="stylesheet" href="mobile.css">
    <% } else { %>
        <link rel="stylesheet" href="style.css">
    <% } %>
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <a href="/">
            <div class="logo">
                <img class="logoI" src="src/648erbahn.png" alt="" srcset="">
            </div>
        </a>
    </div>
    <div class="txt">
        <h1>Vision</h1>
        <h2>STR8 aus dem Keller</h2>
        <p>Uns bei Typegear64 hat das typische Leben im System vom Arbeitsalltag im Arbeitsmarkt schon immer gestört.
             Das der wahre Wert der Arbeit nur zu Bruchteilen bei Demjenigen ankommt, 
             der die Arbeit auch verrichtet hat und stattdessen in den Taschen von großen Konzernen und damit
              bei der durch Generationen weitergegebenen besitzenden Klasse landet. Das man im System jahrelang 
              bei derselben Arbeit stagniert und sich nicht persönlich weiterentwickeln kann, nur um von einem 
             Gehaltsscheck zum Nächsten zu leben und sich auf die Rente vorzubereiten. Wofür das Alles? Für 
             die stetige Entwertung des Geldes durch die Inflation, die deinen Gehaltsscheck immer weiter schrumpfen lässt?
             Für stetig steigende Lebenserhaltungspreise auf Grundbedarf? Das System ist kaputt und wir werden es nicht ändern können. 
             Aber wir dachten uns wir können einen kleinen Teil tun, 
             indem wir Klamotten mit guter Preis-Leistung mit Repräsentation für die Gegend,
              entwickeln. So können wir uns kreativ ausleben, mit eigenen Designs, 
              mit unternehmerischer Arbeit, die uns Spaß macht und mit persönlichem Bezug zu unserer Gegend. 
              Der Anfang war schwer, doch wir lassen uns nicht entmutigen und verfolgen unsere Ziele weiter. 
              So wollen wir uns in Zukunft in allen Bereichen immer wieder weiterentwickeln, 
              Abläufe perfektionieren und bei neuen Drops mit innovativen Designs überzeugen.
            <br>
            <br>
            <br>
        Keep hustlin´ - 648</p>
    </div>

</body>
</html>
<script src="pop.js">

</script>