
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

:root{
    --bc: #fcfbfe;
    --txt: #100d17;
    --a: #673fd3;
    --b: #a385f1;
    --c: #6f3afa;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: var(--bc);
    color: var(--txt);
}

.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro div {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.intro div button {
    border: none;
    background-color: var(--a);
    color: var(--bc);
    padding: 10px;
    border-radius: 10px;
    transition: ease-in 100ms;
    margin-top: 20px;
}
.intro div button:hover {
    transform: scale(1.1);
    border: none;
    background-color: var(--c);
    color: var(--bc);
    padding: 10px;
    border-radius: 15px;
    transition: ease-in 100ms;
}